version: 2

multi-ecosystem-groups:
  all:
    schedule:
      interval: weekly

updates:
  - package-ecosystem: github-actions
    directory: /
    patterns: ["*"]
    multi-ecosystem-group: all
  - package-ecosystem: bundler
    directory: /
    patterns: ["*"]
    multi-ecosystem-group: all
