<div class="container flex-footer text-center text-muted fw-light">
  <hr>
  <footer>
    <p>
      <span class="text-nowrap">
        {{- "Copyright &copy; " -}}
        {%- if site.copyright.years -%}
        {%- if site.copyright.years.begin and site.copyright.years.end -%}
        {{- site.copyright.years.begin -}}
        {{- " &ndash; " -}}
        {{- site.copyright.years.end -}}
        {%- else -%}
        {{- site.copyright.years -}}
        {%- endif -%}
        {%- endif -%}
        {{- " " -}}
        {{- site.copyright.owner | default: site.title -}}
        {{- "." -}}
      </span>
      {% if site.copyright.message -%}
      <span class="text-nowrap">
        {{- site.copyright.message -}}
      </span>
      {%- endif %}
    </p>
  </footer>
</div>
