<div class="container flex-footer text-muted fw-light">
  <hr>
  <footer>
    <div class="d-flex flex-wrap justify-content-center text-center gap-1">
      <span>
        {{- "Copyright &copy; " -}}
        {%- if site.copyright.years -%}
        {%- if site.copyright.years.begin and site.copyright.years.end -%}
        {{- site.copyright.years.begin -}}
        {{- " &ndash; " -}}
        {{- site.copyright.years.end -}}
        {%- else -%}
        {{- site.copyright.years -}}
        {%- endif -%}
        {%- endif -%}
        {{- " " -}}
        {{- site.copyright.owner | default: site.title -}}
        {{- "." -}}
      </span>
      {% if site.copyright.message -%}
      <span>
        {{- site.copyright.message -}}
      </span>
      {%- endif %}
    </div>
  </footer>
</div>
