<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{- page.title | default: site.title -}}
    {%- unless page.hide_site_title -%}
    {{- " - " -}}
    {{- site.title -}}
    {%- endunless -%}
  </title>

  <script data-cfasync="false" src="{{ "/assets/js/color-modes.js" | relative_url }}"></script>

  {% for favicon in site.favicon %}
  <link rel="{{ favicon.rel | default: "icon" }}"
    {% if favicon.type -%}
    type="{{ favicon.type }}"
    {%- endif %}
    {% if favicon.sizes -%}
    sizes="{{ favicon.sizes }}"
    {%- endif %}
    href="{{ favicon.href | relative_url }}"
  >
  {%- endfor %}
  {% if site.manifest -%}
  <link rel="manifest" href="{{ site.manifest | relative_url }}">
  {%- endif %}

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
    integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">

  {% if site.seo -%}
  {%- seo title=false -%}
  {%- endif %}

  {% if site.google_analytics -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag("js", new Date());
    gtag("config", "{{ site.google_analytics }}");
  </script>
  {%- endif %}
</head>
