<div class="container d-flex flex-header">
  <nav class="navbar navbar-expand d-print-none">
    <ul class="nav">
      {% for item in site.navigation_items -%}
      <li class="nav-item ms-0 me-4 mt-0 mb-3">
        <a class="nav-link text-nowrap px-0 py-0" href="
        {%- if item.url -%}
        {{- item.url -}}
        {%- else -%}
        {{- item.path | relative_url -}}
        {%- endif -%}
      ">
          {{- item.name -}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
