.flex-container {
  min-height: 100vh;
  min-height: 100dvh;
}

.flex-header {
  flex: none;
  padding-top: 1rem !important;
}

.flex-body {
  flex: 1;
}

.flex-footer {
  flex: none;
  padding-bottom: 1rem !important;
}
