.flex-full {
  height: 100vh !important;
  height: -webkit-fill-available !important;
  height: 100dvh !important;
}

.flex-header {
  min-height: 8% !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0 !important;
}

.flex-body {
  min-height: 80% !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.flex-footer {
  min-height: 12% !important;
  padding-top: 0 !important;
  padding-bottom: 0.5rem !important;
}
