---
layout: page
---

{{ content }}

<div class="my-5">
  {% for post in site.posts -%}
  {% if post.categories contains page.category -%}
  {% unless post.categories contains "archive" and page.category != "archive" -%}
  <article class="my-5">
    <a href="{{ post.url | relative_url }}" class="text-reset text-decoration-none">
      <h2 class="no-anchor">{{ post.title }}</h2>
      {% if post.date -%}
      <div class="text-muted my-2">
        <time datetime="{{ post.date | date: "%Y-%m-%dT%H:%M:%S.%3N" }}">
          {{- post.date | date: site.date_format | default: "%a, %e %b %Y %H:%M:%S %Z" -}}
        </time>
      </div>
      {%- endif %}
    </a>
    {% if post.description -%}
    <p>
      {{ post.description }}
    </p>
    {%- endif %}
  </article>
  {%- endunless %}
  {%- endif %}
  {% endfor %}
</div>
