---
layout: default
---

<div class="container d-flex flex-column">
    <div class="
        container d-flex flex-column flex-body mx-auto py-5
        {% if page.center %}
            justify-content-center text-center align-items-center
        {% endif %}
    ">

        <header class="my-3">
            {% unless page.hide_title %}
            {% if page.title %}
            <h1 class="my-3">{{ page.title }}</h1>
            {% endif %}
            {% endunless %}
        </header>

        <main class="my-3">
            {{ content }}
        </main>

    </div>

    <div class="container flex-footer text-center text-muted fw-light">
        <hr>
        {% include footer.html %}
    </div>
</div>
