---
layout: default
---

<div class="container d-flex flex-column">
    <div class="
        container d-flex flex-column flex-body mx-auto py-5
        {% if page.center %}
            justify-content-center text-center align-items-center
        {% endif %}
    ">

        <header class="my-3">
            {% unless page.hide_title %}
            {% if page.title %}
            <h1 class="my-3">{{ page.title }}</h1>
            {% endif %}
            {% unless page.hide_date %}
            {% if page.date %}
            <time class="text-muted" datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S.%3N" }}">
                {{ page.date | date: site.date_format | default: "%a, %e %b %Y %H:%M:%S %Z" }}
            </time>
            {% endif %}
            {% endunless %}
            {% endunless %}
        </header>

        <main class="my-3">
            {{ content }}
        </main>

    </div>

    <div class="container flex-footer text-center text-muted fw-light">
        <hr>
        {% include footer.html %}
    </div>
</div>
